.grid-view--wrapper {
    padding: 5rem 0;
    display: grid;
    .container {
        max-width: 100rem;
    }
    .grid {
        gap: 3.2rem;
    }

    @media (width <= 968px) {
        .grid,
        .container {
            grid-template-columns: 2fr;
            padding: 0;
        }
    }
    @media (max-width: 768px) {
        .grid,
        .container {
            grid-template-columns: 1fr;
        }
    }
}
