.navigate {
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    padding-inline-start: 3.2rem;
    a {
        font-size: 1.6rem;
    }
}
